{
	"semi": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"tabWidth": 2,
	"useTabs": true,
	"printWidth": 80,
	"arrowParens": "always",
	"endOfLine": "lf",
	"overrides": [
		{
			"files": "*.{yml,yaml}",
			"options": {
				"useTabs": false
			}
		}
	]
}
